<a href="https://colab.research.google.com/github/HariShankarLB/colab/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

# Data Science Tools
1.   Jupyter Notebook
2.   RStudio
3. VS Code

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Create tables using Markdown
- Perform basic arithmetic operations using Python

## Author
Hari Shankar